In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [2]:


def get_df(func, columns, what_index):
    results_list = func()
    df = pd.DataFrame(results_list, columns=columns)
    df = df.set_index(what_index)

    print(df.dtypes)
    return df

# classify_email evaluation

In [ ]:
from evaluate import get_eval_results_email_classifier
classify_email_result_df = get_df(get_eval_results_email_classifier,
                                  ['test_no', 
                                   'output_topic',
                                   'output_urgency',
                                   'expected_topic',
                                   'expected_urgency'],
                                   'test_no')

Test case: 1
Test case: 2
Test case: 3
Test case: 4
Test case: 5
Test case: 6
Test case: 7
Test case: 8
Test case: 9
Test case: 10
score                 float64
explanation               str
ground truth query        str
generated query           str
dtype: object

In [ ]:
m1 = accuracy_score(classify_email_result_df['expected_topic'],
                    classify_email_result_df['output_topic'])
m2 = precision_score(classify_email_result_df['expected_urgency'],
                    classify_email_result_df['output_urgency'])
m3 = recall_score(classify_email_result_df['expected_urgency'],
                    classify_email_result_df['output_urgency'])

print(f'accuracy of email classifier topic is: {m1}')
print(f'precision of email classifier urgency is: {m2}')
print(f'recall of email classifier urgency is: {m3}')
print()
print(classify_email_result_df['output_topic'].value_counts())
print(classify_email_result_df['expected_urgency'].value_counts())

accuracy of email classifier topic is: 0.82
precision of email classifier urgency is: 0.76
recall of email classifier urgency is: 0.95

output_topic
other                                     32
product_availability_or_recommendation    30
transaction_inquiry                       25
delivery_delay                             9
billing_dispute                            4
Name: count, dtype: int64
expected_urgency
False    80
True     20
Name: count, dtype: int64

In [5]:
# Accuracy
classify_email_result_df[classify_email_result_df['output_topic'] != classify_email_result_df['expected_topic']]

,output_topic,output_urgency,expected_topic,expected_urgency
test_no,,,,
17,product_availability_or_recommendation,False,other,False
26,transaction_inquiry,False,billing_dispute,False
41,transaction_inquiry,False,other,False
47,transaction_inquiry,False,other,False
53,transaction_inquiry,False,other,False
59,transaction_inquiry,False,other,False
61,transaction_inquiry,False,product_availability_or_recommendation,False
62,product_availability_or_recommendation,False,other,False
64,product_availability_or_recommendation,False,delivery_delay,False
82,transaction_inquiry,False,other,False
85,transaction_inquiry,True,delivery_delay,True
86,transaction_inquiry,False,billing_dispute,False
96,transaction_inquiry,False,other,False
97,transaction_inquiry,False,other,False
98,product_availability_or_recommendation,False,other,False
99,transaction_inquiry,False,other,False
101,delivery_delay,True,product_availability_or_recommendation,True
105,other,False,product_availability_or_recommendation,False

In [6]:
# Recall
classify_email_result_df[(classify_email_result_df['expected_urgency'] == True) & (classify_email_result_df['output_urgency'] == False)]

,output_topic,output_urgency,expected_topic,expected_urgency
test_no,,,,
16,product_availability_or_recommendation,False,product_availability_or_recommendation,True

In [6]:
# Precision
classify_email_result_df[(classify_email_result_df['expected_urgency'] == False) & (classify_email_result_df['output_urgency'] == True)]

,output_topic,output_urgency,expected_topic,expected_urgency
test_no,,,,
18,delivery_delay,True,delivery_delay,False
67,other,True,other,False
68,other,True,other,False
71,other,True,other,False
73,product_availability_or_recommendation,True,product_availability_or_recommendation,False
92,other,True,other,False

# get_comprehensive_product_query evaluation

In [3]:
from evaluate import get_eval_results_get_comprehensive_product_query

get_product_query_df = get_df(get_eval_results_get_comprehensive_product_query,
                                  ['test_no', 
                                   'score',
                                   'explanation',
                                   'ground truth query',
                                   'generated query'],
                                   'test_no')

Agent Version: 0.0.1
Test case: 1
Test case: 2
Test case: 3
Test case: 4
Test case: 5
Test case: 6
Test case: 7
Test case: 8
Test case: 9
Test case: 10
Test case: 11
Test case: 12
Test case: 13
Test case: 14
Test case: 15
Test case: 16
Test case: 17
Test case: 18
Test case: 19
Test case: 20
Test case: 21
Test case: 22
Test case: 23
Test case: 24
Test case: 25
Test case: 26
Test case: 27
Test case: 28
Test case: 29
Test case: 30
Test case: 31
Test case: 32
Test case: 33
Test case: 34
Test case: 35
Test case: 36
Test case: 37
Test case: 38
Test case: 39
Test case: 40
Test case: 41
Test case: 42
Test case: 43
Test case: 44
Test case: 45
Test case: 46
Test case: 47
Test case: 48
Test case: 49
Test case: 50
Test case: 51
Test case: 52
Test case: 53
Test case: 54
Test case: 55
Test case: 56
Test case: 57
Test case: 58
Test case: 59
Test case: 60
Test case: 61
Test case: 62
Test case: 63
Test case: 64
Test case: 65
Test case: 66
Test case: 67
Test case: 68
Test case: 69
Test case: 70
Test case: 71
Test case: 72
Test case: 73
Test case: 74
Test case: 75
Test case: 76
Test case: 77
Test case: 78
Test case: 79
Test case: 80
Test case: 81
Test case: 82
Test case: 83
Test case: 84
Test case: 85
Test case: 86
Test case: 87
Test case: 88
Test case: 89
Test case: 90
Test case: 91
Test case: 92
Test case: 93
Test case: 94
Test case: 95
Test case: 96
Test case: 97
Test case: 98
Test case: 99
Test case: 100
score                 float64
explanation               str
ground truth query        str
generated query           str
dtype: object

In [4]:
import pprint

# Summary statistics for the 'score' column in get_product_query_df
s = get_product_query_df['score']

# Basic describe
describe = s.describe()

# Additional stats
median = s.median()
mode = s.mode().tolist()
missing = int(s.isna().sum())
value_counts = s.value_counts(dropna=False)

# Custom percentiles
percentiles = s.quantile([0.01, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99]).to_dict()

# Perfect-score statistics (score == 1.0)
total = int(describe['count']) if 'count' in describe.index else len(s)
perfect_count = int((s == 1.0).sum())
perfect_percent = (perfect_count / total * 100) if total > 0 else float('nan')

# Aggregate results
summary = {
    'describe': describe.to_dict(),
    'median': median,
    'mode': mode,
    'percentiles': percentiles,
    'missing_values': missing,
    'value_counts': value_counts.to_dict(),
    'perfect_score_count': perfect_count,
    'perfect_score_percent': perfect_percent
}

# Print the summary
pprint.pprint(summary)

{'describe': {'25%': 1.0,
              '50%': 1.0,
              '75%': 1.0,
              'count': 100.0,
              'max': 1.0,
              'mean': 0.902,
              'min': 0.0,
              'std': 0.27924139660114433},
 'median': np.float64(1.0),
 'missing_values': 0,
 'mode': [1.0],
 'percentiles': {0.01: 0.0,
                 0.05: 0.0,
                 0.1: 0.49000000000000005,
                 0.25: 1.0,
                 0.5: 1.0,
                 0.75: 1.0,
                 0.9: 1.0,
                 0.95: 1.0,
                 0.99: 1.0},
 'perfect_score_count': 88,
 'perfect_score_percent': 88.0,
 'value_counts': {0.0: 7, 0.3: 2, 0.4: 1, 0.5: 1, 0.7: 1, 1.0: 88}}

In [6]:
pd.set_option('display.max_colwidth', None)
get_product_query_df[get_product_query_df['score'] < 1.0][['score', 'ground truth query', 'generated query']]

,score,ground truth query,generated query
test_no,,,
23,0.4,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'green'\n AND size = 10\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE (lower(brand) = 'lantern' OR lower(color) = 'green')\n AND size = 10\nLIMIT 500;
25,0.0,SELECT * FROM shoe_characteristics\nWHERE weight >= 300 AND weight <= 350\nLIMIT 500;,CANNOT_ANSWER
30,0.0,SELECT * FROM shoe_characteristics\nWHERE weight < 250\n AND (lower(color) = 'red' OR lower(color) = 'blue')\nLIMIT 500;,CANNOT_ANSWER
50,0.0,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'black'\n AND size = 8\nLIMIT 500;,CANNOT_ANSWER
60,0.0,SELECT * FROM shoe_characteristics\nWHERE size = 10\n AND (lower(color) = 'black' OR lower(color) = 'dark blue')\nLIMIT 500;,CANNOT_ANSWER
61,0.5,SELECT * FROM shoe_characteristics\nWHERE (lower(color) = 'green' OR lower(color) = 'gold')\n AND size = 9\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'green'\n AND size = 9\nLIMIT 500;
67,0.7,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'grey'\n AND size = 14\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE (lower(color) = 'rock' OR lower(color) = 'grey')\n AND size = 14\nLIMIT 500;
70,0.0,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'black'\n AND size = 7\nLIMIT 500;,CANNOT_ANSWER
82,0.3,SELECT * FROM shoe_characteristics\nWHERE size = 15\n AND lower(color) = 'purple'\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE size = 15\n OR lower(color) = 'purple'\nLIMIT 500;
85,0.0,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'black'\n AND size = 10\nLIMIT 500;,CANNOT_ANSWER
87,0.3,SELECT * FROM shoe_characteristics\nWHERE lower(brand) = 'puma'\n AND size = 7\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE lower(brand) = 'puma'\n OR size = 7\nLIMIT 500;
95,0.0,CANNOT_ANSWER,SELECT * FROM shoe_characteristics\nWHERE size = 'infinite'\nLIMIT 500;