In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [2]:
def get_df(func, columns, what_index):
    results_list = func()
    df = pd.DataFrame(results_list, columns=columns)
    df = df.set_index(what_index)

    print(df.dtypes)
    return df

# classify_email evaluation

In [3]:
from evaluate import get_eval_results_email_classifier
classify_email_result_df = get_df(get_eval_results_email_classifier,
                                  ['test_no', 
                                   'output_topic',
                                   'output_urgency',
                                   'expected_topic',
                                   'expected_urgency'],
                                   'test_no')

Agent Version: 0.0.1
Test case: 11
Test case: 12
Test case: 13
email could not be classified and is routed to human escalation
Test case: 14
Test case: 15
email could not be classified and is routed to human escalation
Test case: 16
Test case: 17
Test case: 18
Test case: 19
email could not be classified and is routed to human escalation
Test case: 20
email could not be classified and is routed to human escalation
Test case: 21
Test case: 22
email could not be classified and is routed to human escalation
Test case: 23
Test case: 24
email could not be classified and is routed to human escalation
Test case: 25
Test case: 26
email could not be classified and is routed to human escalation
Test case: 27
email could not be classified and is routed to human escalation
Test case: 28
email could not be classified and is routed to human escalation
Test case: 29
email could not be classified and is routed to human escalation
Test case: 30
email could not be classified and is routed to human escalation
Test case: 31
Test case: 32
email could not be classified and is routed to human escalation
Test case: 33
Test case: 34
Test case: 35
Test case: 36
Test case: 37
email could not be classified and is routed to human escalation
Test case: 38
email could not be classified and is routed to human escalation
Test case: 39
Test case: 40
Test case: 41
email could not be classified and is routed to human escalation
Test case: 42
email could not be classified and is routed to human escalation
Test case: 43
Test case: 44
email could not be classified and is routed to human escalation
Test case: 45
Test case: 46
email could not be classified and is routed to human escalation
Test case: 47
email could not be classified and is routed to human escalation
Test case: 48
email could not be classified and is routed to human escalation
Test case: 49
email could not be classified and is routed to human escalation
Test case: 50
email could not be classified and is routed to human escalation
Test case: 51
Test case: 52
Test case: 53
email could not be classified and is routed to human escalation
Test case: 54
email could not be classified and is routed to human escalation
Test case: 55
email could not be classified and is routed to human escalation
Test case: 56
email could not be classified and is routed to human escalation
Test case: 57
Test case: 58
email could not be classified and is routed to human escalation
Test case: 59
email could not be classified and is routed to human escalation
Test case: 60
email could not be classified and is routed to human escalation
Test case: 61
Test case: 62
email could not be classified and is routed to human escalation
Test case: 63
email could not be classified and is routed to human escalation
Test case: 64
email could not be classified and is routed to human escalation
Test case: 65
email could not be classified and is routed to human escalation
Test case: 66
email could not be classified and is routed to human escalation
Test case: 67
email could not be classified and is routed to human escalation
Test case: 68
email could not be classified and is routed to human escalation
Test case: 69
email could not be classified and is routed to human escalation
Test case: 70
Test case: 71
email could not be classified and is routed to human escalation
Test case: 72
Test case: 73
Test case: 74
email could not be classified and is routed to human escalation
Test case: 75
email could not be classified and is routed to human escalation
Test case: 76
Test case: 77
Test case: 78
email could not be classified and is routed to human escalation
Test case: 79
email could not be classified and is routed to human escalation
Test case: 80
email could not be classified and is routed to human escalation
Test case: 81
Test case: 82
email could not be classified and is routed to human escalation
Test case: 83
email could not be classified and is routed to human escalation
Test case: 84
Test case: 85
email could not be classified and is routed to human escalation
Test case: 86
email could not be classified and is routed to human escalation
Test case: 87
email could not be classified and is routed to human escalation
Test case: 88
Test case: 89
Test case: 90
email could not be classified and is routed to human escalation
Test case: 91
email could not be classified and is routed to human escalation
Test case: 92
email could not be classified and is routed to human escalation
Test case: 93
email could not be classified and is routed to human escalation
Test case: 94
email could not be classified and is routed to human escalation
Test case: 95
Test case: 96
email could not be classified and is routed to human escalation
Test case: 97
email could not be classified and is routed to human escalation
Test case: 98
Test case: 99
email could not be classified and is routed to human escalation
Test case: 100
Test case: 101
Test case: 102
email could not be classified and is routed to human escalation
Test case: 103
Test case: 104
Test case: 105
email could not be classified and is routed to human escalation
Test case: 106
email could not be classified and is routed to human escalation
Test case: 107
email could not be classified and is routed to human escalation
Test case: 108
email could not be classified and is routed to human escalation
Test case: 109
email could not be classified and is routed to human escalation
Test case: 110
email could not be classified and is routed to human escalation
output_topic         str
output_urgency      bool
expected_topic       str
expected_urgency    bool
dtype: object

In [4]:
m1 = accuracy_score(classify_email_result_df['expected_topic'],
                    classify_email_result_df['output_topic'])
m2 = precision_score(classify_email_result_df['expected_urgency'],
                    classify_email_result_df['output_urgency'])
m3 = recall_score(classify_email_result_df['expected_urgency'],
                    classify_email_result_df['output_urgency'])

print(f'accuracy of email classifier topic is: {m1}')
print(f'precision of email classifier urgency is: {m2}')
print(f'recall of email classifier urgency is: {m3}')
print()
print(classify_email_result_df['output_topic'].value_counts())
print(classify_email_result_df['expected_urgency'].value_counts())

accuracy of email classifier topic is: 0.82
precision of email classifier urgency is: 0.76
recall of email classifier urgency is: 0.95

output_topic
other                                     32
product_availability_or_recommendation    29
transaction_inquiry                       27
delivery_delay                             8
billing_dispute                            4
Name: count, dtype: int64
expected_urgency
False    80
True     20
Name: count, dtype: int64

In [5]:
# Accuracy
classify_email_result_df[classify_email_result_df['output_topic'] != classify_email_result_df['expected_topic']]

,output_topic,output_urgency,expected_topic,expected_urgency
test_no,,,,
17,product_availability_or_recommendation,False,other,False
26,transaction_inquiry,False,billing_dispute,False
41,transaction_inquiry,False,other,False
47,transaction_inquiry,False,other,False
50,transaction_inquiry,True,other,True
53,transaction_inquiry,False,other,False
58,transaction_inquiry,False,delivery_delay,False
64,transaction_inquiry,False,delivery_delay,False
79,transaction_inquiry,False,other,False
82,transaction_inquiry,False,other,False
85,transaction_inquiry,True,delivery_delay,True
86,transaction_inquiry,False,billing_dispute,False
96,transaction_inquiry,False,other,False
97,transaction_inquiry,False,other,False
98,product_availability_or_recommendation,False,other,False
99,transaction_inquiry,False,other,False
101,delivery_delay,True,product_availability_or_recommendation,True
105,other,False,product_availability_or_recommendation,False

In [6]:
# Recall
classify_email_result_df[(classify_email_result_df['expected_urgency'] == True) & (classify_email_result_df['output_urgency'] == False)]

,output_topic,output_urgency,expected_topic,expected_urgency
test_no,,,,
16,product_availability_or_recommendation,False,product_availability_or_recommendation,True

In [7]:
# Precision
classify_email_result_df[(classify_email_result_df['expected_urgency'] == False) & (classify_email_result_df['output_urgency'] == True)]

,output_topic,output_urgency,expected_topic,expected_urgency
test_no,,,,
18,delivery_delay,True,delivery_delay,False
67,other,True,other,False
68,other,True,other,False
71,other,True,other,False
73,product_availability_or_recommendation,True,product_availability_or_recommendation,False
92,other,True,other,False

# get_comprehensive_product_query evaluation

In [3]:
from evaluate import get_eval_results_get_comprehensive_product_query

get_product_query_df = get_df(get_eval_results_get_comprehensive_product_query,
                                  ['test_no', 
                                   'score',
                                   'explanation',
                                   'ground truth query',
                                   'generated query'],
                                   'test_no')

Agent Version: 0.0.1
Test case: 1
Test case: 2
Test case: 3
Test case: 4
Test case: 5
Test case: 6
Test case: 7
Test case: 8
Test case: 9
Test case: 10
Test case: 11
Test case: 12
Test case: 13
Test case: 14
Test case: 15
Test case: 16
Test case: 17
Test case: 18
Test case: 19
Test case: 20
Test case: 21
Test case: 22
Test case: 23
Test case: 24
Test case: 25
Test case: 26
Test case: 27
Test case: 28
Test case: 29
Test case: 30
Test case: 31
Test case: 32
Test case: 33
Test case: 34
Test case: 35
Test case: 36
Test case: 37
Test case: 38
Test case: 39
Test case: 40
Test case: 41
Test case: 42
Test case: 43
Test case: 44
Test case: 45
Test case: 46
Test case: 47
Test case: 48
Test case: 49
Test case: 50
Test case: 51
Test case: 52
Test case: 53
Test case: 54
Test case: 55
Test case: 56
Test case: 57
Test case: 58
Test case: 59
Test case: 60
Test case: 61
Test case: 62
Test case: 63
Test case: 64
Test case: 65
Test case: 66
Test case: 67
Test case: 68
Test case: 69
Test case: 70
Test case: 71
Test case: 72
Test case: 73
Test case: 74
Test case: 75
Test case: 76
Test case: 77
Test case: 78
Test case: 79
Test case: 80
Test case: 81
Test case: 82
Test case: 83
Test case: 84
Test case: 85
Test case: 86
Test case: 87
Test case: 88
Test case: 89
Test case: 90
Test case: 91
Test case: 92
Test case: 93
Test case: 94
Test case: 95
Test case: 96
Test case: 97
Test case: 98
Test case: 99
Test case: 100
score                 float64
explanation               str
ground truth query        str
generated query           str
dtype: object

In [4]:
import pprint

# Summary statistics for the 'score' column in get_product_query_df
s = get_product_query_df['score']

# Basic describe
describe = s.describe()

# Additional stats
median = s.median()
mode = s.mode().tolist()
missing = int(s.isna().sum())
value_counts = s.value_counts(dropna=False)

# Custom percentiles
percentiles = s.quantile([0.01, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99]).to_dict()

# Perfect-score statistics (score == 1.0)
total = int(describe['count']) if 'count' in describe.index else len(s)
perfect_count = int((s == 1.0).sum())
perfect_percent = (perfect_count / total * 100) if total > 0 else float('nan')

# Aggregate results
summary = {
    'describe': describe.to_dict(),
    'median': median,
    'mode': mode,
    'percentiles': percentiles,
    'missing_values': missing,
    'value_counts': value_counts.to_dict(),
    'perfect_score_count': perfect_count,
    'perfect_score_percent': perfect_percent
}

# Print the summary
pprint.pprint(summary)

{'describe': {'25%': 1.0,
              '50%': 1.0,
              '75%': 1.0,
              'count': 100.0,
              'max': 1.0,
              'mean': 0.902,
              'min': 0.0,
              'std': 0.27924139660114433},
 'median': np.float64(1.0),
 'missing_values': 0,
 'mode': [1.0],
 'percentiles': {0.01: 0.0,
                 0.05: 0.0,
                 0.1: 0.49000000000000005,
                 0.25: 1.0,
                 0.5: 1.0,
                 0.75: 1.0,
                 0.9: 1.0,
                 0.95: 1.0,
                 0.99: 1.0},
 'perfect_score_count': 88,
 'perfect_score_percent': 88.0,
 'value_counts': {0.0: 7, 0.3: 2, 0.4: 1, 0.5: 1, 0.7: 1, 1.0: 88}}

In [6]:
pd.set_option('display.max_colwidth', None)
get_product_query_df[get_product_query_df['score'] < 1.0][['score', 'ground truth query', 'generated query']]

,score,ground truth query,generated query
test_no,,,
23,0.4,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'green'\n AND size = 10\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE (lower(brand) = 'lantern' OR lower(color) = 'green')\n AND size = 10\nLIMIT 500;
25,0.0,SELECT * FROM shoe_characteristics\nWHERE weight >= 300 AND weight <= 350\nLIMIT 500;,CANNOT_ANSWER
30,0.0,SELECT * FROM shoe_characteristics\nWHERE weight < 250\n AND (lower(color) = 'red' OR lower(color) = 'blue')\nLIMIT 500;,CANNOT_ANSWER
50,0.0,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'black'\n AND size = 8\nLIMIT 500;,CANNOT_ANSWER
60,0.0,SELECT * FROM shoe_characteristics\nWHERE size = 10\n AND (lower(color) = 'black' OR lower(color) = 'dark blue')\nLIMIT 500;,CANNOT_ANSWER
61,0.5,SELECT * FROM shoe_characteristics\nWHERE (lower(color) = 'green' OR lower(color) = 'gold')\n AND size = 9\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'green'\n AND size = 9\nLIMIT 500;
67,0.7,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'grey'\n AND size = 14\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE (lower(color) = 'rock' OR lower(color) = 'grey')\n AND size = 14\nLIMIT 500;
70,0.0,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'black'\n AND size = 7\nLIMIT 500;,CANNOT_ANSWER
82,0.3,SELECT * FROM shoe_characteristics\nWHERE size = 15\n AND lower(color) = 'purple'\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE size = 15\n OR lower(color) = 'purple'\nLIMIT 500;
85,0.0,SELECT * FROM shoe_characteristics\nWHERE lower(color) = 'black'\n AND size = 10\nLIMIT 500;,CANNOT_ANSWER
87,0.3,SELECT * FROM shoe_characteristics\nWHERE lower(brand) = 'puma'\n AND size = 7\nLIMIT 500;,SELECT * FROM shoe_characteristics\nWHERE lower(brand) = 'puma'\n OR size = 7\nLIMIT 500;
95,0.0,CANNOT_ANSWER,SELECT * FROM shoe_characteristics\nWHERE size = 'infinite'\nLIMIT 500;

# find_closest_product

In [5]:
from evaluate import get_eval_results_match_closest_product

# This is necessary because the code in email_agent for this function has an asyncio await loop
import nest_asyncio
nest_asyncio.apply()

get_product_query_df = get_df(get_eval_results_match_closest_product,
                                  ['test_no', 
                                   'precision', 
                                   'recall', 
                                   'ground_truth', 
                                   'matched', 
                                   'false_negatives', 
                                   'false_positives', 
                                   'message', 
                                   'generated'],
                                   'test_no')

Test case: 1
Test case: 2
Test case: 3
Test case: 4
Test case: 5
Test case: 6
Test case: 7
Test case: 8
Test case: 9
Test case: 10
Test case: 11
Test case: 12
Test case: 13
Test case: 14
Test case: 15
Test case: 16
Test case: 17
Test case: 18
Test case: 19
Test case: 20
Test case: 21
Test case: 22
Test case: 23
Test case: 24
Test case: 25
Test case: 26
Test case: 27
Test case: 28
Test case: 29
Test case: 30
Test case: 31
Test case: 32
Test case: 33
Test case: 34
Test case: 35
Test case: 36
Test case: 37
Test case: 38
Test case: 39
Test case: 40
Test case: 41
Test case: 42
Test case: 43
Test case: 44
Test case: 45
Test case: 46
Test case: 47
Test case: 48
Test case: 49
Test case: 50
Test case: 51
Test case: 52
Test case: 53
Test case: 54
Test case: 55
Test case: 56
Test case: 57
Test case: 58
Test case: 59
Test case: 60
Test case: 61
Test case: 62
Test case: 63
Test case: 64
Test case: 65
Test case: 66
Test case: 67
Test case: 68
Test case: 69
Test case: 70
Test case: 71
Test case: 72
Test case: 73
Test case: 74
Test case: 75
Test case: 76
Test case: 77
Test case: 78
Test case: 79
Test case: 80
Test case: 81
Test case: 82
Test case: 83
Test case: 84
Test case: 85
Test case: 86
Test case: 87
Test case: 88
Test case: 89
Test case: 90
Test case: 91
Test case: 92
Test case: 93
Test case: 94
Test case: 95
Test case: 96
Test case: 97
Test case: 98
Test case: 99
Test case: 100
precision          float64
recall             float64
ground_truth        object
matched             object
false_negatives     object
false_positives     object
message                str
generated              str
dtype: object

In [6]:
pd.set_option('display.max_colwidth', None)
get_product_query_df

,precision,recall,ground_truth,matched,false_negatives,false_positives,message,generated
test_no,,,,,,,,
1,1.0,1.0,[8],[8],[],[],"Hi there, I'm trying to find a pair of Red Nike Air Max shoes. I usually wear a size 11. Do you have these in stock?","Client wants Red Nike Air Max, size 11. Matching product IDs: 8"
2,1.0,1.0,"[26, 30]","[26, 30]",[],[],I need a new pair of canvas sneakers for daily wear. I'm a size 9.5. Open to any brand you have,"Client wants canvas sneakers size 9.5. Matches: product_ids 26 (Converse), 30 (Vans)."
3,0.5,1.0,[92],[92],[],[64],Do you carry any boots suitable for hiking? I need something durable in a size 8.5,"Client seeks durable hiking boots size 8.5. Matches: 64, 92."
4,1.0,1.0,"[97, 98, 99]","[97, 98, 99]",[],[],I'm looking for some white leather Adidas shoes. Do you have anything like that?,"Client wants white leather Adidas shoes. Matches: 97, 98, 99 (white/green or white/blue leather Adidas)."
5,1.0,1.0,[],[],[],[],"Hello, do you have any gold high heels or formal shoes in size 7? I need them for a wedding.","Client: gold high heels or formal shoes size 7. \nMatches: None (no gold color, size 7 products in catalogue)."
...,...,...,...,...,...,...,...,...
96,1.0,1.0,[1],[1],[],[],I need self-lacing shoes. Or at least Nike Air Max. Red leather. Size 10.,"Client looking for: self-lacing shoes or Nike Air Max, red leather, size 10 \nMatches: product_id 1 (Nike Air Max, 10, Red, Leather) \nNo self-lacing shoes found."
97,1.0,1.0,[47],[47],[],[],"Great Scott! I need running shoes. Brooks Ghost, white mesh. Size 11.","Client wants Brooks Ghost running shoes, white mesh, size 11. Matches product_id: 47."
98,1.0,1.0,[62],[62],[],[],"Make like a tree and get me some boots. Timberland, black. Size 11.",Client wants Timberland black boots size 11. Matches: product_id 62.
99,0.5,1.0,[29],[29],[],[30],I need shoes for the Matrix. Black canvas Vans. Size 10.,"Client wants black canvas Vans, size 10. Matches: product_id 29, 30 (closest brand and specs)."
100,1.0,1.0,[14],[14],[],[],"Blue pill or red pill? I'll take the blue shoes. Puma RS-X, blue synthetic. Size 11.","Client wants: Puma RS-X, blue, synthetic, size 11 \nMatching product_id: 14"

In [8]:
get_product_query_df[get_product_query_df['recall'] < 1.0]

,precision,recall,ground_truth,matched,false_negatives,false_positives,message,generated
test_no,,,,,,,,
14,0.583333,0.875,"[12, 36, 40, 44, 48, 52, 60, 80]","[12, 36, 40, 44, 48, 52, 80]",[60],"[15, 56, 72, 83, 96]",I need running shoes but I don't use animal products. No leather or suede. Size 8.5.,"Client wants vegan running shoes, size 8.5.\n\nMatching product_ids: 12, 15, 36, 40, 44, 48, 52, 56, 72, 80, 83, 96"
33,0.000000,0.000,[57],[],[57],"[53, 54]",Looking for trail shoes. Salomon Speedcross. Blue. Size 10.,"Client wants Salomon Speedcross trail shoes, blue, size 10. Matches: product_id 53 (Salomon Speedcross, size 10, black synthetic) closest by model and size; no exact blue size 10 Salomon Speedcross available, closest blue size 9.5 is product_id 54."
59,0.000000,0.000,[29],[],[29],[25],I need shoes that leave no trace. Black canvas Converse. Size 10.,"Client wants black canvas Converse shoes, size 10. \nMatches: product_id 25"
91,1.000000,0.000,[69],[],[69],[],"But why is the rum gone? I need boots for a pirate. Dr. Martens, grey leather? Size 10.","Client wants: Dr. Martens grey leather boots, size 10 \nMatch: None (no grey leather Dr. Martens size 10 in catalogue)"